{{if eq .Status "firing"}}
Status: <b>{{.Status | str_UpperCase}} 🔥</b>

{{- range $val := .Alerts }}
  {{$severity := index $val.Labels "severity" -}}
  {{if eq $severity "high" -}}
  Severity: {{$severity}} ⚠️
  {{else if eq $severity "critical" -}}
  Severity: {{$severity}} 🚨
  {{else -}}
  Severity: {{$severity}}
  {{ end -}}
  --Timestamp:
  Start problem: {{ $val.StartsAt | str_FormatDate }}
  --Labels:
  {{ range $key, $value := $val.Labels -}}
  {{$key}}: {{$value}}
  {{ end -}}
  --Annotattions:
  {{ range $key, $value := $val.Annotations -}}
  {{$key}}: {{$value}}
  {{ end -}}
{{- end -}}
{{ end }}

{{if eq .Status "resolved"}}
Status: <b>{{.Status | str_UpperCase}} ✅</b>

{{- range $val := .Alerts }}
  {{$severity := index $val.Labels "severity" -}}
  {{if eq $severity "high" -}}
  Severity: {{$severity}} ⚠️
  {{else if eq $severity "critical" -}}
  Severity: {{$severity}} 🚨
  {{else -}}
  Severity: {{$severity}}
  {{ end -}}
  --Timestamp:
  Start problem: {{ $val.StartsAt | str_FormatDate }}
  Resolved problem: {{ $val.EndsAt | str_FormatDate }}
  --Labels:
  {{ range $key, $value := $val.Labels -}}
  {{$key}}: {{$value}}
  {{ end -}}
  --Annotattions:
  {{ range $key, $value := $val.Annotations -}}
  {{$key}}: {{$value}}
  {{ end -}}
{{- end -}}
{{ end }}
